*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: futura;
}

p{
    font-family: sans-serif;
}

section{
    position: relative;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}

.one{
    background: #474259;
    overflow: hidden;
    z-index: 1;
}

.main-title{
    /* background: black; */
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 90vw;
    /* height: 100px; */
    font-family: futura;
}

.navigation{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 5px;
    font-size: 25px;
    /* text-align: left; */
}

.navigation-links{
    display: flex;
}

.navigation ul{
    display: flex;
}

.navigation li{
    list-style: none;
    margin-right: 30px;
}

.navigation a{
    color: rgb(121, 121, 121);
    text-decoration: none;
}

#discover{
    font-size: 70px;
    color: rgb(90, 90, 90);
    transform: translateX(1px);
}

#newyork{
    font-size: 90px;
    color: rgb(49, 49, 49);
    transform: translateY(-40px);
}

video{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.two{
    background: #2e2e2e;
    z-index: 1;
}
.page-title{
    position: absolute;
    font-family: futura;
    font-size: 70px;
}

.main-image{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    min-width: 100vw;
    top: 0;
    z-index: -1;
}

.description-text{
    position: absolute;
}

#title-times-square{
    left: 5vw;
    top: 10vh;
    color: rgb(228, 228, 228);
}

#img-times-square{
    left: 400px;
    transition: 0.5s;
}

#img-times-square:hover{
    transform: translateX(-100px);
}

#text-times-square{
    left: 5vw;
    bottom: 20vh;
    width: 35vw;
    color: rgb(216, 216, 216);
}


.three{
    z-index: 1;
    background: #a8a8a8;
}

#img-moma{
    right: 340px;
    transition: 0.5s;
}

#img-moma:hover{
    transform: translateX(100px);
}

#title-moma{
    right: 5%;
    bottom: 10%;
    color: black;
}

#text-moma{
    right: calc(5% - 25px);
    top: 15%;
    width: 380px;
    color: rgb(255, 255, 255);
}

.four{
    z-index: 1;
    background: #495ABF;
}

#img-met{
    left: 25vw;
    transition: 0.5s;
}

#img-met:hover{
    transform: translateX(-5vw);
}

#title-met{
    top: 10vh;
    left: 5vw;
}

#text-met{
    bottom: 20vh;
    left: 5vw;
    width: 40vw;
}

.five{
    z-index: 1;
    background: rgb(196, 153, 98);
}

#img-joes{
    position: absolute;
    left: 25%;
    height: 100vh;
    z-index: -1;
    /* width: 100%; */
}

#title-joes{
    left: 5vw;
    top: 10vh;
}

#text-joes{
    right: 5vw;
    bottom: 20vh;
    width: 20rem;
}

.credit{
    height: 300px;
    background: rgb(48, 48, 48);
    font-family: futura;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.credit-container{
    width: 90vw;
    /* background: blue; */
    display: flex;
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
}

.column{
    width: 33.33%;
}


#credits-title-main{
    padding-bottom: 20px;
    color: rgb(212, 212, 212);
}

.credit-item{
    color: rgb(201, 201, 201);
    padding-bottom: 5px;
}

.credit-item h3{
    color: rgb(201, 201, 201);
    font-size: 20px;
}

.credit-item h4{
    color: rgb(145, 145, 145);
    font-size: 16px;
}

.column2{
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column3{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

#credit-website-name{
    font-size: 30px;
}

#credit-author{
    color: rgb(155, 155, 155);
    font-size: 20px;
}

#twitter-logo{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
