*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

p{
    font-family: sans-serif;
}

section{
    position: relative;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

section{
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    scroll-snap-align: start;
}

.one{
    background: #474259;
    overflow: hidden;
    z-index: 1;
}

.main-title{
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: futura;
}

#discover{
    font-size: 70px;
    color: rgb(104, 104, 104);
    transform: translateX(1px);
}

#newyork{
    font-size: 90px;
    color: rgb(49, 49, 49);
    transform: translateY(-40px);
}

video{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.two{
    background: #2e2e2e;
    z-index: 1;
}
.page-title{
    position: absolute;
    font-family: futura;
    font-size: 70px;
}

.main-image{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    min-width: 100vw;
    top: 0;
    z-index: -1;
}

.description-text{
    position: absolute;
}

#title-times-square{
    left: 5%;
    top: 10%;
    color: rgb(228, 228, 228);
}

#img-times-square{
    left: 400px;
    transition: 0.5s;
}

#img-times-square:hover{
    transform: translateX(-100px);
}

#text-times-square{
    left: 5%;
    bottom: 20%;
    width: 390px;
    color: rgb(216, 216, 216);
}


.three{
    z-index: 1;
    background: #a8a8a8;
}

#img-moma{
    right: 340px;
    transition: 0.5s;
}

#img-moma:hover{
    transform: translateX(100px);
}

#title-moma{
    right: 5%;
    bottom: 10%;
}

#text-moma{
    right: calc(5% - 25px);
    top: 15%;
    width: 380px;
}


.four{
    background: #495ABF;
}